<!doctype html>
<html>
<head><meta charset="utf-8"><title>Diploma Web</title></head>
<body>
  <h1>Diploma Web: {{ inventory_hostname }}</h1>
  <p>Served by Nginx behind Yandex Cloud ALB.</p>
</body>
</html>
